<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zecide - Feed</title>
    <link rel="icon" href="/src/images/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/styles/feed.css">
    <link rel="stylesheet" href="/src/styles/notifications.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://kit.fontawesome.com/1b9ab29bbb.js" crossorigin="anonymous"></script>


</head>
<style>
    textarea {
    border: none;
    overflow: auto;
    outline: none;
    width: 48vw;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
</style>

<body>
    <div class="upper-nav">
        <div>
            <div class="logo">
                <img src="/src/images/logo.svg" alt="">
                <span>Zecide</span>
            </div>
            <div class="upper-right">
                <div class="upper-nav-1">
                    <div class="search">
                        <input placeholder="Search.." style="border: none;" />
                        <img src="/src/images/search.svg" />
                    </div>

                    <button class="download-btn">App Coming Soon!</button>
                </div>

                <div class="dropdown-notification">
                    <div class="notification">
                        <img src="/src/images/notification.svg" id="notification-img" alt="" class="notification-bell mt-2" srcset="">
                        <div class="notifications-number">1</div>    
                    </div>

                    <div class="dropdown-content-notification dropdown-content-notification-hide">
                        <ul class="dropdown-notification-ul">
                            <!-- <li><a href="#"> <span>5 friend requests</span> </a></li>
                            <li><a href="#"> <span>xyz commented on your post</span> </a></li> -->
                        </ul>
                    </div>
                </div>
                


                <div class="profile-dropdown">

                    <img src="/src/images/default-profile-picture.jpg" class="dropdown-img" alt="">
                    <span id="usern">Guest</span>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img class="burger dropdown-img" id="burger" src="/src/images/dropdown-button.svg"
                                alt="burger" />
                        </button>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="/logout" onclick="logout()"> <span>Logout</span> </a></li>
                                <li><a href="#"> <span>Settings</span> </a></li>
                            </ul>
                            <script>
                                function logout() {
                                    localStorage.clear();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="side-nav">
        <div>
            <a href="/user-feed">
                <div class="nav-item nav-item-active">
                    <img src="/src/images/feed-active.svg" alt="">
                    <span>Feed</span>
                </div>
            </a>
            <a href="/insights">
                <div class="nav-item">
                    <img src="/src/images/insights.svg" alt="">
                    <span>Insights &nbsp; <span id='coming-soon-insights' class="badge badge-info">Coming Soon!</span></span>
                </div>
            </a>
            <a href="/z">
                <div class="nav-item nav-z-part">
                    <img src="/src/images/z-part.svg" alt="">
                    <span>Z-Part</span>
                </div>
            </a>
            <a href="/tools">
                <div class="nav-item">
                    <img src="/src/images/tools.svg" alt="">
                    <span>Tools</span>
                </div>
            </a>
            <a href="/user-profile">
                <div class="nav-item">
                    <img src="/src/images/profile.svg" alt="">
                    <span>Profile</span>
                </div>
            </a>
            <a href="/help-support">
                <div class="nav-item nav-help">
                    <img src="/src/images/help.svg" alt="">
                    <span>Help & Support</span>
                </div>
            </a>
            <a href="/about-us">
                <div class="nav-item nav-about-us">
                    <img src="/src/images/about.svg" alt="">
                    <span>About Us</span>
                </div>
            </a>
        </div>
    </div>
    <div id='infinite-list'></div>
    <div class="card-container">
        <div class="status-card">
            <form id="new-post" enctype="multipart/form-data">
                <textarea name="message" placeholder="What's on your mind?" id="postBody" style="height: 15vh;margin-bottom: 1vh;"></textarea>
                <!-- <input type="file" name="postPicture" placeholder="Profile Picture"> -->
                <!-- <span>What's on your mind?</span> -->
                <!-- <input type="text" name="message" placeholder="What's on your mind?"> -->
                <div class="status-card-lower">
                    <div class="image-upload">
                        <label for="file-input">
                          <img src="/src/images/photo-upload.svg" alt="upload picture" />
                        </label>
                      
                        <input id="file-input" type="file" name="postPicture" style="display: none;"/>
                    </div>                    
                        <button type="submit">
                            Post
                        </button>
                      <!-- <input id="file-submit" type="submit" value="Post"> -->
                        <!-- <img src="/src/images/photo-upload.svg" alt=""> -->
                </div>
            </form>
            <!-- <form id="new-post" enctype="multipart/form-data">
                <input type="text" name="message" placeholder="What's on your mind?">
                <input type="file" name="postPicture" placeholder="Post Picture">
                <input type="submit" value="Post">
            </form> -->
        </div>
    </div>
    </div>
    <script>
        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        var userna = getCookie('token');
        document.getElementById('usern').innerHTML = localStorage.getItem('usernam');
        var user_id = localStorage.getItem('userid');

    </script>
    
    <script src="/src/scripts/notifications.js"></script>
    <script src="/src/scripts/user-feed.js"></script>

</body>

</html>
