<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zecide - My Profile</title>
    <link rel="icon" href="/src/images/logo.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/styles/profile.css">
    <link rel="stylesheet" href="/src/styles/feed.css">
    <link rel="stylesheet" href="/src/styles/notifications.css">

</head>

<body>







    <div class="upper-nav">
        <div>
            <div class="logo">
                <img src="/src/images/logo.svg" alt="">
                <span>Zecide</span>
            </div>
            <div class="upper-right">
                <div class="upper-nav-1">
                    <div class="search">
                        <input placeholder="Search.." style="border: none;" />
                        <img src="/src/images/search.svg" />
                    </div>

                    <button class="download-btn">App Coming Soon!</button>
                </div>


                <div class="dropdown-notification">
                    <div class="notification">
                        <img src="/src/images/notification.svg" id="notification-img" alt="" class="notification-bell mb-3" srcset="">
                        <div class="notifications-number">1</div>    
                    </div>
          
                    <div class="dropdown-content-notification dropdown-content-notification-hide">
                        <ul class="dropdown-notification-ul">
                            <!-- <li><a href="#"> <span>5 friend requests</span> </a></li>
                            <li><a href="#"> <span>xyz commented on your post</span> </a></li> -->
                        </ul>
                    </div>
                  </div>


                <div class="profile-dropdown">

                    <img src="/src/images/default-profile-picture.jpg" class="dropdown-img" alt="">
                    <span id="usern">Guest</span>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img class="burger dropdown-img" id="burger" src="/src/images/dropdown-button.svg"
                                alt="burger" />
                        </button>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="/logout"> <span>Logout</span> </a></li>
                                <li><a href="#"> <span>Settings</span> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>





            <!-- <div class="profile-dropdown">
            <img src="/src/images/default-profile-picture.jpg" class="dropdown-img" alt="">
            <span>Siddharth</span>
            <img class="dropdown-btn" src="/src/images/dropdown-button.svg" alt="">
        </div> -->
        </div>

    </div>
    <div class="side-nav">
        <div>
            <a href="/user-feed">
                <div class="nav-item ">
                    <img src="/src/images/feed.svg" alt="">
                    <span>Feed</span>
                </div>
            </a>
            <a href="/insights">
                <div class="nav-item">
                    <img src="/src/images/insights.svg" alt="">
                    <span>Insights &nbsp; <span id='coming-soon-insights' class="badge badge-info">Coming Soon!</span></span>
                </div>
            </a>
            <a href="/z">
                <div class="nav-item nav-z-part">
                    <img src="/src/images/z-part.svg" alt="">
                    <span>Z-Part</span>
                </div>
            </a>
            <a href="/tools">
                <div class="nav-item">
                    <img src="/src/images/tools.svg" alt="">
                    <span>Tools</span>
                </div>
            </a>
            <a href="/user-profile">
                <div class="nav-item nav-item-active">
                    <img src="/src/images/profile-active.svg" alt="">
                    <span>Profile</span>
                </div>
            </a>
            <a href="/help-support">
                <div class="nav-item nav-help">
                    <img src="/src/images/help.svg" alt="">
                    <span>Help & Support</span>
                </div>
            </a>
            <a href="/about-us">
                <div class="nav-item nav-about-us">
                    <img src="/src/images/about.svg" alt="">
                    <span>About Us</span>
                </div>
            </a>
        </div>
    </div>
    <div class="card-container">

        <div class="profile-card">
            <div class="profile-main-top" style="display: flex;
            flex-direction: row;
            justify-content: space-between;">
                <div class="profile-main-top-left">
                    <div class="profile-main-top-left-1">
                        <img class="profile-main-profile-pic" id="profilePicture" src="/src/images/default-profile-picture.jpg" alt="">
                        <div>
                            <div class="name-and-verified">
                                <h1 id="firstName">Guest</h1>
                                <img class="profile-verified" src="/src/images/verified.svg" alt="">
                            </div>
                            <p id="tagLine">Profile Tag-Line</p>
                            <!-- <div class="z-scores">
                                <img src="/src/images/z-score.svg" alt="">
                                <span>1710</span>
                                <img src="/src/images/z-heat.svg" alt="">
                                <span>0.8</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="profile-main-top-left-2">
                        <p id="profileBio" class="bio" style="
                        font-size: 2vw;
                        line-height: 1.5;
                        ">Profile Bio</p>
                    </div>
                </div>
                <div class="profile-main-top-right" style="display: flex;
                flex-direction: column;
                justify-content: space-between;">
                    <!-- <div class="followers">
                        <p>Followers</p>
                        <div class="followers-count">
                            <p>100</p>
                        </div>
                    </div>
                    <div class="following">
                        <p>Following</p>
                        <div class="followers-count">
                            <p>555</p>
                        </div>
                    </div>
                    <div class="follow">
                        <p>Follow</p>
                    </div> -->
                    <!-- Example single danger button -->
                    <div class="more">
                        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More ..
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><button class="dropdown-item" data-toggle="modal" data-target="#imageModalCenter">Change Profile Picture</button></li>
                            <li><a class="dropdown-item" href="/edit-bio">Edit Bio</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-main-bottom">
                <div class="work">
                    <img src="/src/images/work.svg" alt="">
                    <span id="profession">Profession</span>
                </div>
                <div class="location">
                    <img src="/src/images/location.svg" alt="">
                    <span id="place">Place</span>
                </div>
                <div class="education">
                    <img src="/src/images/education.svg" alt="">
                    <span id="education">Education</span>
                </div>
            </div>
        </div>
    
  
        <!-- Modal -->
        <div class="modal fade" id="imageModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Change Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cpp" enctype="multipart/form-data">
                    <input type="file" name="imgUrl" placeholder="Profile Picture">
                    <input type="submit" value="Change Profile Picture">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
  

    </div>
    </div>
    <div class="trending">
        <div>
            <div class="trending-top">
                <img src="/src/images/trending.svg" alt="">
                <h2>Trending Topics</h2>
            </div>
            <img src="/src/images/trending-line.svg" alt="">
            <div class="trending-bottom">
                <div class="trending-topics">
                    <span>#idea</span>
                    <span>#vodafone</span>
                    <span>#india</span>
                    <span>#covid19</span>
                    <span>#reliance</span>
                    <span>#delhi</span>
                </div>
                <div class="trending-numbers">
                    <span>9.7k</span>
                    <span>7.2k</span>
                    <span>6.4k</span>
                    <span>5.3k</span>
                    <span>3.6k</span>
                    <span>2.7k</span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="/src/scripts/notifications.js"></script>
    <script src="/src/scripts/change-profile-picture.js"></script>
    <script src="/src/scripts/user-profile2.js"></script>
    <script>
        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        var userna = getCookie('token');
        document.getElementById('usern').innerHTML = localStorage.getItem('usernam');

    </script>
    
</body>

</html>
